@import "../../scss/palette";
.HeaderMenu{
    .onlyMobile{ display:none}
    text-transform: capitalize;
    .create-link{
        display: block;
        position: absolute;
        top: 10px;
        z-index: 654;
    }
}

@media only screen and (max-device-width:991px) {
    .onlyMobile{ display:inline-block !important}
}

@media only screen and (max-device-width:767px) {
    .ant-layout-header{
        padding: 0 10px;
    }
}

