@import "../scss/palette";
html{
    min-height: 100%;
    height: auto;
    body{
        position: relative;
        background-repeat: no-repeat;
        background-position: right bottom;
        background-color: $background-color;
        min-height: 100%;
        height:auto;
        .App{
            .onlyWeb{ display:block}
            margin: 1px !important;
            min-height: 100%;
            position: relative;
            .column{
                border: 1px solid $collapse-border;
                padding: 10px;
            }
            .ant-layout{
                position: relative;
                min-height: 100vh;
                .header{
                    position: fixed;
                    text-align: center;
                    z-index: 1;
                    width: 100%;
                    background-color: $white-color;
                    left: 0;
                    top:0;
                    border-bottom: 1px dotted $red-color;
                }
                .site-layout{
                    padding: 0 50px;
                    margin-top: 64px;
                }
                &.container{
                    background-color: white !important;
                    border-left: 1px solid $grey-color;
                    border-right: 1px solid $grey-color;
                }
            }
        }
        .ant-popover{
            max-width: 400px !important;
        }
    }
}

.ant-collapse-content > .ant-collapse-content-box {
    padding: 0 5px;
}

.ant-collapse-extra { color: $blue-7 }

@media only screen and (max-device-width:991px) {
    .onlyWeb{ display:none !important}
}

@media only screen and (max-device-width:767px) {
    .site-layout{ padding: 0 7px !important; } 
    .ant-drawer-body{
        padding: 7px;
        .ant-card-body {padding: 5px;}
    }
}
