@import "../../scss/palette";
.Payments{
    p{
        margin-bottom: 0em;
    }
    .txt-right{
        div:first-child{
            text-align: right;
            padding-right: 10px;
        }

    }
    .ant-spin-container{
        .ant-table {
            background-color: $white-color;
        }
        .ant-pagination {
            float: right;
            margin: 16px 54px 16px 0 !important;
        }
    }
    .payments{
        colgroup{
            display: none;
        }
    }
}
