@import "./scss/palette";

.ant-tooltip{
    .ant-tooltip-inner{
        background-color: $tooltip-bg;
        color: $tooltip-text-color;
    }

    .ant-tooltip-arrow{
        &:before{
            background-color: $tooltip-bg;
        }
    }
}

.ant-popover{
    list-style: disc;
    .ant-popover-inner-content {
        padding: 12px 16px 12px 28px;
        max-width: 350px;
        background-color: $popover-bg;
        border: 1px solid $popover-border;
    }

    .ant-popover-arrow{
        border-right-color:$popover-border !important;
        border-bottom-color:$popover-border !important;
    }
}

.ant-card-head-title,
.ant-collapse-header{
    text-transform: uppercase;
}

.ant-card-body{
    .new-value{
        color: $blue-color;
        .ant-typography{
            display: none;
        }
    }

    .ant-typography{
        width: 100%;

        code{
            width: 100%;
            display: block;
            text-align: center;
            margin-top: 10px;
            padding: 5px;
        }
    }

    .ant-btn-circle{
        margin: 0 10px 10px 20px;
    }

    .ant-card-type-inner{
        margin: 7px;
    }
}

.ant-btn{
    display: block;
    margin: 10px;
}