@import "./scss/palette";
#root { 
    max-width: 970px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px; 
}

.div-wrapper{
    box-shadow: 3px 3px 10px;
    border: 1px solid $collapse-border;
    border-radius: 0px;
    

    .ant-collapse-header,
    .ant-card-head{ 
        text-transform: uppercase;
        background-color: $header-collapse-bg !important;
    }
    .ant-divider{
        margin: 5px;
    }

    .ant-collapse-content-box{
        padding: 0px 2px;
        .ant-divider{
            margin: 1px 0 3px 0 !important;
            &:after, &:before{
                border-top: 1px solid $slider-default;
            }
        }

        .ant-card{
            border: 0px solid $collapse-border;
        }
    }
}

.selectedData{
    .ant-card-body{
        padding: 5px 0;
        .ant-card-bordered{
            border: 0px solid $red-color !important;
        }
    }
}

.ant-btn-primary{
    background-color: $red-color;
    border-color: $dark-red-color;
    &:hover,
    &:focus,
    &:active{
        background-color: $dark-red-color;
        border-color: $dark-red-color;
    }
}

.ant-tooltip{
    .ant-tooltip-inner{
        background-color: $tooltip-bg;
        color: $tooltip-text-color;
    }
    .ant-tooltip-arrow{
        &:before{ background-color: $tooltip-bg; }
    }
}

.ant-popover{
    list-style: disc;
    .ant-popover-inner-content {
        padding: 12px 16px 12px 28px;
        max-width: 350px;
        background-color: $popover-bg;
        border: 1px solid $popover-border;
    }

    .ant-popover-arrow{
        border-right-color:$popover-border !important;
        border-bottom-color:$popover-border !important;
    }
}

.ant-card-head-title,
.ant-divider-inner-text{
    text-transform: capitalize;
}

.ant-card-body{
    .new-value{
        span{
            color: $red-color;
            &.ant-typography{ display: none !important; }
        }
    }

    .ant-btn-circle{ margin: 0 10px 10px 20px; }
    .ant-card-type-inner{ margin: 7px; }
}
.ant-btn{
    display: block;
    margin: 10px;
}

 .ant-back-top {
    bottom: 30px;
    right: 30px;
  }
   .ant-back-top-inner {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: $red-color;
    color: $white-color;
    text-align: center;
    font-size: 20px;
    &:hover,
    &:focus,
    &:active{
        background-color: $dark-red-color;
        border-color: $dark-red-color;
    }
  }

  .show-selected-data{
    position: fixed;
    right: 0px;
    top: 10px;
    margin: 0px;
    z-index: 9999;
    }
.ant-drawer-content-wrapper{ 
    .ant-drawer-content{
        // background-image: url("/images/flag.png");
        background-repeat: no-repeat;
        background-position: right bottom;
    }
    width:50% !important;
    .ant-card-body{
        padding: 4px;
        .ant-card-type-inner{
            margin: 4px;
        }
    }
}

@media only screen and (max-width:991px)   {
    .LeftPart, .RightPart { 
        padding: 5px !important; 
        .ant-collapse-content-box,
        .CardComponent{
            padding: 5px !important; 
            .ant-card{
                margin: 0 auto 5px auto;
                .ant-card-body{
                    & > div{
                        &:nth-child(1){ width: 100% !important; }
                        &:nth-child(2){ width: 100% !important; }
                        &:nth-child(3){ width: 100% !important; }
                    }

                }
            }
        }
        .ant-card-head{
            min-height: 24px;
            .ant-card-head-title{
                padding: 6px 0;
            }
        }
    }
  }

  @media only screen and (max-width:767px)   {
    #root { max-width: 750px; }
    .ant-drawer-content-wrapper{ width:70% !important}
  }