$background-color   : #f2f3f4;
$header-collapse-bg : #e6e8e9;
$collapse-border    : #b1b1b8;

$blue-color         : #0000ff;
$dark-grey-color    : #EFEFEF;
$dark-red-color     : rgb(187, 7, 7);
$grey-color         : #e8e8e8;
$red-color          : #ff0000;
$white-color        : #ffffff;


$linear-gradient-1  : rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1);
$linear-gradient-2  : rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0);
$box-shadow-1       : 0 0 8px rgba(0, 0, 0, 0.3);

$tooltip-bg         : #00314d;
$tooltip-text-color : #eeeeee;

$slider-bg          : #e6e6e6;
$slider-track-bg    : #00314d;
$slider-default     : #85A0AE;

$popover-bg         : #d5ddf594;
$popover-border     : #1890ff;